<html>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<div class="ui inverted segment">
</head>
<h1 class="ui huge header"><i class="home icon"></i>Format Page</h1>
<body>
	<div class="ui container">
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Enter Info</div>
      <div class="description">Enter your Financial Instition's information</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Information Check</div>
      <div class="description">Check your information</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Download</div>
      <div class="description">Download your finished file</div>
    </div>
  </div>
</div>
</div>
<h1>Done!</h1>
<br />
<br />


  <h1>Your file is ready</h1>
<ul>
{% csrf_token %}


<!-- set form action to get zip--> 
<br>
	<form action="get_zip" method="GET" enctype="multipart">
		<br>
    <input type="submit" value="Download zip file" class="ui blue button">
      </form>


</ul>

</form>
</html>