<html>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<div class="ui inverted segment">
</head>
<h1 class="ui huge header"><i class="home icon"></i>Format Page</h1>
<body>
	<div class="ui container">
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Enter Info</div>
      <div class="description">Enter your Financial Instition's information</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Format</div>
      <div class="description">Your information is formatting</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Download</div>
      <div class="description">Download your finished file</div>
    </div>
  </div>
</div>
</div>
<h1> Almost Done!</h1>
<br />
<br />


  <h1>Thank you. Please review the information you gave before proceeding:</h1>
<ul>
{% csrf_token %}
{% if content %}

	<form action="" method="GET" enctype="multipart/form-data">
	<li>Financial Institution Code - XXXXX: {{content.f_i_code}}</li>
	<li>Branch Code - BRANCH00:  {{branch_code}}</li>
	<li>Last Accounting Date - 00000000: {{last_acc_date}}</li>
	<li>Production Date - 00000000:  {{date_of_prod}}</li>
	<li>Code - 000:  {{code}}</li>
	<li>Correction Flag - '1' or ' ':  {{corr_flag}}</li>
	</form>
  {% else %}
  <h1>No Data</h1>
{% endif %}
<!-- set form action to get zip--> 
	<form action="" method="GET" enctype="multipart">
		<h2>Your Crif Formatted File:</h2>
        <input type="submit" value="Download Zip File" class="ui blue button">
      </form>


</ul>

</form>
</html>