<html>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<div class="ui inverted segment">
</head>
<h1 class="ui huge header"><i class="home icon"></i>Format Page</h1>
<body>
	<div class="ui container">
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Enter Info</div>
      <div class="description">Enter your Financial Instition's information</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Information Check</div>
      <div class="description">Check your information</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Download</div>
      <div class="description">Download your finished file</div>
    </div>
  </div>
</div>
</div>
<h1> Almost Done!</h1>
<br />
<br />


  <h1>Thank you. Please review the information you gave before proceeding:</h1>
<ul>


	<form action="info_review" method="GET" enctype="multipart/form-data">
  {% csrf_token %}
	<li>FINANCIAL INSTITUTION CODE - XXXXX: "{{CrifClient.f_i_code}}"</li>
	<li>BRANCH CODE - BRANCH00:  "{{CrifClient.branch_code}}"</li>
	<li>LAST ACCOUNTING DATE - 00000000: "{{CrifClient.last_acc_date}}"</li>
	<li>PRODUCTION DATE - 00000000:  "{{CrifClient.date_of_prod}}"</li>
	<li>CODE - 000:  "{{CrifClient.code}}"</li>
	<li>CORRECTION FLAG - '1' or ' ':  "{{CrifClient.corr_flag}}"</li>
	</form>

<!-- set form action to get zip--> 
<br>
	<form action="download_zip" method="GET" enctype="multipart">
		<h2>Is everything correct?...</h2>
    <br>
        <input type="submit" value="PROCEED" class="ui blue button">
      </form>


</ul>

</form>
</html>